.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.top-box {
  margin: 10px;
}

.top-boxh3 {
  font-size: 24px;
}

h3 em {
  color: var(--primary);
}

.transactions-list {
  margin: 10px 10px 0px 10px;
}
