.gridHeader {
  /* background-color: var(--primary); */
  height: 60px;
  width: 100%;
  display: flex;
  border: 1px solid var(--primary);
  /* border-radius: 6px; */
}

.left {
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.left h3 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.middle {
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.middle h3 {
  font-size: 14px;
  font-weight: 600;
}

.right {
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.right h3 {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
